*
!*/
varios/
!.gitignore
!License
!README.md

!numeros/apuntes_potencias_raices.tex
!numeros/apuntes_logaritmos.tex
!numeros/apuntes_proporcionalidad_porcentajes_3eso.tex


!algebra/apuntes_*.tex

!geometria/apuntes_*.tex
!geometria/tablas_trigonometria.tex

!funciones/apuntes_analisis*.tex

!probabilidad_estadistica/apuntes_*.tex


algebra/apuntes_ecuaciones_2eso.tex
